<div class="banner-wrapper">
  <iframe
    width="560"
    height="315"
    [src]="iframeUrl"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
<div class="ui two column padded centered grid">
  <button (click)="changeMovie()" class="ui secondary button">
    Change
  </button>
</div>
<!-- 
<div class="ui raised very padded text container segment">
  <div class="ui form">
    <div class="field">
      <label>User name</label>
      <input #user type="text" (change)="onInputChange(user)" />
    </div>
  </div>
</div> -->
